*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth
}
:root {
    --primary: rgba(149, 91, 176, 0.595);
    
}
form {
    display: grid;
    gap: 1rem;
    justify-content: center;
    border: 1px solid transparent;
    display: grid;
    gap: 1rem;
    justify-content: center;
    margin-left: 350px;
    margin-right:350px;
    background-color: #bccee0;
    background-image: linear-gradient(62deg, #bccee0 0%, #e4cef7 100%);





  }
  .border{
    margin:50px;
    border: 0px solid transparent;
    background-color: white;
    box-shadow:0px 2px 80px 2px var(--primary);
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    justify-content: center;
    padding:30px;
    width: 400px;
  }

  form h1{
    background: -webkit-linear-gradient(rgb(223, 202, 214), rgb(182, 214, 225));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      text-align: center;
  }

  .border label {
      color: rgb(101, 98, 98);
      font-size: 12px;
  }
  input {
    justify-content: center;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 15px;
    padding-top: 2px;
    padding-left: 5px;
    width: 300px;
  }

  input:focus{
    outline:none;
    background-color: rgba(220, 220, 220, 0.278);
    border-radius: 8px;
  }
  select {
        background-color: white;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom: thin solid var(--primary);
        border-radius: 0;
        width: 320px;
        display: flex;
        font: bolder;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
        margin: 0;      
        -webkit-appearance:none;        
      
  }
select:focus {
    outline:none;
    background-color: rgba(220, 220, 220, 0.278);
    border-radius: 8px;
}
textarea{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: thin solid var(--primary);
    border-radius: 0;
    width: 320px;
    display: flex;
    font: bolder;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;      
    -webkit-appearance:none;     
    resize: none;
      }
.text-box p {
    color: gainsboro;
}
textarea:focus {
    outline:none;
    background-color: rgba(220, 220, 220, 0.278);
    border-radius: 8px;
}
.check{
display: inline-block;
}
button {
    outline:none;
    width: 320px;
    height: 30px;
    background-image: linear-gradient(62deg, #bccee0 0%, #e4cef7 100%);
    border: thin solid transparent;
    border-radius: 25px;
    background-color: var(--primary);
    color:white;
}